{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}

{{! Everything inside the #author tags pulls data from the author }}

{{#author}}
{{! Jumbotron }}
<div class="jumbotron main-header {{#if cover}}" style="background-image: url({{cover}}){{else}}{{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}{{/if}}">
  <div class="container">
    <div class="row">

      <div class="col-sm-12 scroll-fade">
        {{#if image}}
        <figure class="author-image">
          <a href="{{url}}"><img class="author-thumb" src="{{image}}" alt="Author image" nopin="nopin" /></a>
        </figure>
        {{/if}}

        <h1 class="author-title">{{name}}</h1>
        {{#if bio}}<p class="lead author-bio">{{bio}}</p>{{/if}}

        <div class="post-meta author-meta">
          {{#if location}}<i class="fa fa-map-marker"></i> <span class="author-location icon-location">{{location}}</span>{{/if}}
          {{#if website}}<i class="fa fa-external-link"></i> <span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
          <span class="author-stats"><i class="fa fa-align-left"></i> {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</span>
        </div>

      </div><!-- /.col-sm-12 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.jumbotron -->
{{/author}}


{{! Contents }}
<div class="content container post-list">
  <div class="row">


    {{! Main }}
    <main class="main col-sm-12" role="main">

      <div class="page-content">
      {{> "loop"}}
      </div><!-- /.page-content -->

    </main><!-- /.main -->


  </div><!-- /.row -->
</div><!-- /.container -->