<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" class="no-js"><!-- Modernizr JS detection -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {{!
  |~)[~|~\|~|~)/~\(~~|~
  |~\[_|_/|~|~\\_/_) |
  When you look into an abyss, the abyss also looks into you.
  }}

  {{! Page Meta }}
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />

  {{! Author }}
  <meta name="author" content="{{author.name}}">
  <meta name="designer" content="Redfrost.com">
  <meta name="dcterms.rightsHolder" content="(c) {{@blog.title}}">

  {{! Icons }}
  <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
  <link rel="apple-touch-icon-precomposed" href="{{@blog.logo}}">

  {{! Mobile }}
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <meta name="viewport" content="width=768"> -->

  {{! Styles'n'Scripts }}
  <link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap.min.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/font-awesome.min.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/custom.css"}}" />

  {{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}
</head>


<body id="top" class="{{body_class}}">
<div class="master-wrap">


  {{! Navigation }}
  {{navigation}}


  {{! Contents }}
  {{{body}}}


  {{! Footer }}
  <footer class="site-footer clearfix" role="contentinfo">


    <div class="extra-links-mobile" >
      <a class="btn" href="/support"><i class="fa fa-question-circle"></i> 강의 문의하기</a>
      <a class="btn" href="/program-schedule"><i class="fa fa-calendar-check-o"></i> 강의 스케줄 확인</a>
    </div>


    <hr class="divider">

    <div class="container">

      {{! Ghost outputs important scripts and data with this tag }}
      {{ghost_foot}}

      <div class="copyright-box">
        <p class="copyright">&copy; {{date format="YYYY"}} <a href="/">{{@blog.title}}</a> All rights reserved.</p>
        <p class="maker"><a href="https://github.com/redfrost/Redfrost-Ghost">Theme</a> created by <a href="https://github.com/redfrost">Redfrost</a>.</p>
        <p class="subscribe"><a href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i> <span>Subscribe</span></a></p>
      </div>

      <div class="back-top"><a href="#top"><i class="fa fa-chevron-up"></i> <span>Back to top</span></a></div>
    </div>
  </footer>


</div><!-- /.master-wrap -->


  {{! Scripts }}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{asset "js/jquery.js"}}"><\/script>')</script>
  <script type="text/javascript" src="{{asset "js/modernizr.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/bootstrap.min.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/custom.js"}}"></script>
<!-- <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script> -->


  <!--[if lte IE 9]>
    <link rel="stylesheet" type="text/css" href="assets/css/ie.css" />
    <script src="assets/js/ie.js"></script>

    <div class="ie-warning alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    더 이상 지원하지 않는 오래된 브라우저를 사용 중입니다. 일부 기능이 작동하지 않을 수 있습니다. <a href="http://www.whatbrowser.org/intl/ko/">&raquo; 최신 브라우저로 업그레이드하세요.</a></div>
  <![endif]-->


</body>
</html>
