{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
  attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}

{{! Jumbotron }}
<div class="jumbotron main-header {{#if image}}" style="background-image: url({{image}}){{else}}{{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}{{/if}}">
  <div class="container">
    <div class="row">

      <div class="col-sm-12 scroll-fade">
        <h1 class="post-title">{{title}}</h1>
      </div><!-- /.col-sm-12 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.jumbotron -->


<!-- Article -->
<div class="content container">
  <div class="row">

  {{> submenu-program}}

    <!-- Main -->
    <main class="main col-md-10 sidebar-left" role="main">
      <article class="{{post_class}}">

        <section class="post-content">

          <div class="page-header">
            <h2>최고의 출강 프로그램!</h2>
            <blockquote>바쁜 스케쥴로 외국어 공부에 어려움을 겪고 있는 직장인들을 위한 영어</blockquote>
          </div>

          <p>나우 어학원에서는 학원에서 진행되는 프로그램과 더불어 폭넓은 교육을 위해 기업, 부서, 학교, 관공서 등 단체를 대상으로 출강 프로그램을 제공하고 있습니다.</p>

          <p>오랜 경력과 경험을 가진 강사진들과 맞춤형 교재 및 커리큘럼을 통해 이뤄지는 출강 프로그램은 바쁜 직장인들을 위해 가장 효과적인 영어 교육을 제공하는 것을 목표로 합니다.</p>


          <hr>


          <div class="lecture-effect">
          <h2>출강 학습효과</h2>


          <div class="section-block row">
            <div class="col-sm-8">
              <h3>비용절감</h3>
              <p>수강생마다 고정된 수강료를 지불하는 것이 아니라 적정한 인원을 확보함으로 교육비 부담을 절감할 수 있습니다.</p>
            </div>
            <div class="col-md-3 col-md-offset-1">
              <img src="{{asset "img/img-program-lecture1.jpg"}}">
            </div>
          </div><!-- /.row -->


          <div class="section-block row">
            <div class="col-sm-8">
              <h3>업무에 도움이 되는 실용적 외국어</h3>
              <p>사업영역에 따라 필요로 하는 외국어 능력이 다르므로 부서의 주업무 내용으로 프로그램을 구성할 수 있고 업무 환경에 따라 교육내용, 시간을 조정해 실용적이며 효과적인 교육을 받을 수 있습니다.</p>
            </div>
            <div class="col-md-3 col-md-offset-1">
              <img src="{{asset "img/img-program-lecture2.jpg"}}">
            </div>
          </div><!-- /.row -->


          <div class="section-block row">
            <div class="col-sm-8">
              <h3>시간 절약</h3>
              <p>교육이 기업체 현장에서 이루어지기 때문에 시간을 허비할 필요가 없으며 그에 따른 업무 손실을 줄일 수 있습니다.</p>
            </div>
            <div class="col-md-3 col-md-offset-1">
              <img src="{{asset "img/img-program-lecture3.jpg"}}">
            </div>
          </div><!-- /.row -->


          <div class="section-block row">
            <div class="col-sm-8">
              <h3>학습진도 체계적 관리</h3>
              <p>출석여부, 참여도, 성적 등을 체계적으로 관리할 수 있기에 사원교육 프로그램의 성과를 정확히 평가할 수 있고, 수시로 교육내용과 방법에 대한 피드백을 통해 효과적인 프로그램을 구성할 수 있습니다</p>
            </div>
            <div class="col-md-3 col-md-offset-1">
              <img src="{{asset "img/img-program-lecture4.jpg"}}">
            </div>
          </div><!-- /.row -->


        </div>


        <hr>


        <div class="row lecture-procedures">

          <h2>출강절차</h2>

          <div class="col-sm-12">


            <div class="media step-1">
              <div class="media-left">
                <h3><span>1.</span> 전화상담 / 방문상담</h3>
              </div>
              <div class="media-body">
                <p>출강시 교육과정, 위치, 인원수, 교육생 레벨, 수강목적 등 출강에 필요한 기본적인 내용을 상담 합니다.</p>
              </div>
            </div>


            <div class="media step-2">
              <div class="media-left">
                <h3><span>2.</span> 목표,과정 설정</h3>
              </div>
              <div class="media-body">
                <p>의뢰인의 요청 시 1차 상담한 내용을 바탕으로 목표과정을 설정하고 개략 강의 계획표를 작성합니다.</p>
              </div>
            </div>


            <div class="media step-3">
              <div class="media-left">
                <h3><span>3.</span> 제안서 및 견적서 제출</h3>
              </div>
              <div class="media-body">
                <p>제안서제출: 1차 강의 계획표 및 담담강사 경력소개서를 의뢰업체에 제출합니다. 교육기간 및 커리큘럼을 토대로 확정된 견 종료 적금액을 기재한 견적서를 송부합니다.</p>
              </div>
            </div>


            <div class="media step-4">
              <div class="media-left">
                <h3><span>4.</span> 계약서 작성</h3>
              </div>
              <div class="media-body">
                <p>고객업체에서 제안서 및 견적서 검토 후 승인이 이루어지면 본사의 계약 담담장 및 담당 강사가 방문하여 표준 계약서를 작성 합니다. 의뢰인 및 기업체는 계약 체결 직후 계약서에 명기된 교육비를 결제하게 됩니다.</p>
              </div>
            </div>


            <div class="media step-5">
              <div class="media-left">
                <h3><span>5.</span> 프로그램 수립</h3>
              </div>
              <div class="media-body">
                <p>계약체결 후 의뢰인 및 기업체의 요구분석을 반영하여 세부 일정에 맞춘 구체적인 상세 교육프로그램을 수립합니다.</p>
              </div>
            </div>


            <div class="media step-6">
              <div class="media-left">
                <h3><span>6.</span> 출장 강의 진행</h3>
              </div>
              <div class="media-body">
                <p>최초 강의 시작 시 향후 진행될 강의 방향 및 전반에 대한 오리엔테이션을 실시합니다. 강의 계획표의 맞춰 진행되며 출결 체크, 주별/월별 형성평가, 월별 레벨테스트 등을 실시하여 매월 교육생의 종합평가 보고서를 의뢰인 및 고객사에 제출합니다.</p>
              </div>
            </div>


            <div class="media step-7">
              <div class="media-left">
                <h3><span>7.</span> 출장 강의 종료</h3>
              </div>
              <div class="media-body">
                <p>출장 강의 종강이 임박한 시점에서 교육 생의 최종 종합평가를 하여 종합 보고서를 제출하게 되며, 고객사의 강의에 대한 피드 백을 위해 만족도를 조사하는 수강평 작성 후 출강이 종료됩니다.</p>
              </div>
            </div>


          </div>
        </div>


        <hr>

        <a href="/support/" class="btn btn-primary btn-lg">출강 신청하기 <i class="fa fa-chevron-right"></i></a>

        </section>

      </article>
    </main>


  </div><!-- /.row -->
</div><!-- /.container -->

{{/post}}

